body {
  margin: 0;
  padding: 48px;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 48px;
  padding: 48px;
}

.col {
  flex-direction: column;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.filter p, input {
  margin: 0px;
  padding: 5px;
}

.filter {
  margin: 10px;
}